<ind-card class="example-card">
  <ind-card-header>
    <ind-card-title>Shiba Inu</ind-card-title>
    <ind-card-subtitle>Dog Breed</ind-card-subtitle>
  </ind-card-header>
  <img ind-card-image src="https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg" alt="Photo of a Shiba Inu">
  <ind-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </ind-card-content>
</ind-card>